# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.IdenServ.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\igri-\Desktop\CSHARP\Kursach\TestTemplate-master\.idea\.idea.IdenServ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
