@model JwtTest.Models.BlogModel
@{
    ViewData["Title"] = "Создание нового наблюдения";
}
<h4>Данные наблюдения</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBlog" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Bird" class="control-label"></label>
                <input asp-for="Bird" class="form-control" />
                <span asp-validation-for="Bird" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirdInLatin" class="control-label"></label>
                <input asp-for="BirdInLatin" class="form-control" />
                <span asp-validation-for="BirdInLatin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weather" class="control-label"></label>
                <input asp-for="Weather" class="form-control" />
                <span asp-validation-for="Weather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control" ></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
